rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read/write access to all users under any conditions
    // WARNING: These rules are not secure for production!
    match /{document=**} {
      allow read, write: if true;
    }
  }
}